.single-container .row-fluid{clear:both;max-width:1200px;}
.single-container .alignright{display:block;padding:2.3% 0 2.3% 3em;float:right;clear:both;}
.single-container .alignleft{display:block;clear:both;padding:2.3% 3em 2.3%em 0;text-align:center;}
.single-container .entry-header{margin-top:1em;}
.single-container .entry-content img,.single-container .comment-content img,.single-container .widget img,.single-container img.header-image,.single-container img.wp-post-image{box-shadow:none;border-radius:0;}
.single-container .entry-top{border-bottom:1px solid #c0c0c0;font-style:italic;color:#c0c0c0;padding-bottom:0.25em;padding-right:0.25em;margin-bottom:1em;overflow:auto;}.single-container .entry-top .entry-top-right{float:right;}
.single-container .entry-top .entry-top-left{float:left;}
.single-container .entry-mobile-title{display:none;}
.single-container h1.entry-title{font-family:'Neo Sans W02',Arial,sans;line-height:1em;}.single-container h1.entry-title a{color:black;}
.single-container .entry-header{margin-bottom:0;}
.single-container .entry-header .foundation .title-overlay{position:relative;bottom:40px;right:0px;text-align:left;padding:1em;color:white;background-color:rgba(0, 0, 0, 0.5);}
.single-container .entry-thumbnail{margin-top:-300px;margin-bottom:-75px;min-height:300px;max-height:600px;}
.single-container .entry-content{padding-top:2em;padding-bottom:3em;padding-left:5%;padding-right:7%;}.single-container .entry-content h1,.single-container .entry-content h2,.single-container .entry-content h3,.single-container .entry-content h4,.single-container .entry-content h5,.single-container .entry-content h6{font-size:1.3em;line-height:1.3em;font-style:normal;margin-top:2.5em;margin-bottom:1.1em;clear:both;}
.single-container .entry-content p{font-size:1.2em;font-family:'PT Serif W02 Book',serif;text-align:left;line-height:25px;}.single-container .entry-content p img{padding:1em;box-shadow:none;border-radius:0;}
.single-container .entry-content p a[href^="http"]{color:#a41600;padding-left:5px;padding-right:5px;}.single-container .entry-content p a[href^="http"]:hover{background-color:rgba(0, 0, 0, 0.05);border-radius:0.075em;}
.single-container .entry-title-container{text-align:center;}
.single-container .single-authors{padding-top:2em;margin:0 auto;text-align:center;}.single-container .single-authors .single-author{clear:both;float:left;margin:0 auto;width:110px;margin-bottom:20px;}.single-container .single-authors .single-author .single-author-avatar{text-align:center;}.single-container .single-authors .single-author .single-author-avatar img{border-radius:100%;margin:0 auto;}
.single-container .single-authors .single-author .single-author-name{text-align:center;}
.post-navigation{color:white;background:url("../img/dark-bg.png");margin-bottom:1em;}.post-navigation a{color:white;}
.post-navigation .next-post,.post-navigation .previous-post{padding:40px 40px 40px 40px;display:block;color:white;}
.post-navigation .previous-post{text-align:left;}
.post-navigation .next-post{text-align:right;}
.entry-content .wp-caption p{font-size:0.95em;font-family:'Neo Sans W02',sans;font-style:normal;padding-right:0.25em;line-height:1.2em;}
.gallery-item a,.gallery-caption{width:90%;}
.gallery-item a{display:block;}
.gallery-caption a{display:inline;}
.gallery-columns-1 .gallery-item a{max-width:100%;width:auto;}
.gallery .gallery-icon img{height:auto;max-width:90%;padding:5%;margin-bottom:40px;}
.gallery-columns-1 .gallery-icon img{padding:3%;}
.wp-caption .wp-caption-text,.gallery-caption,.entry-caption{font-style:italic;font-size:12px;font-size:0.857142857rem;line-height:2;color:#757575;}
