h1,h2,h3,h4,h5,h6{font-family:'NeoSansW01-MediumItalic';}
html,body{height:100%;min-height:100%;position:relative;}
body.custom-font-enabled{font-family:'Neo Sans W02',Helvetica,Arial,sans;}
body{margin:0 0 100px;font-family:'Neo Sans W02',Helvetica,Arial,sans;}
body .site{background:none;padding:0;margin:0;}
body:before{content:"";height:100%;float:left;width:0;margin-top:-32767px;}
body.custom-background{background:url('../img/bg-candidate-7.png');}
#content{max-width:1920px;padding-right:150px;min-height:100%;height:auto !important;height:100%;overflow:auto;}
.container,.container-fluid{padding-left:0;padding-right:0;}
.row,.row-fluid{margin-bottom:0;}
a{color:black;}
a:hover{color:#333333;}
body .site{margin-top:0;margin-bottom:0;margin-left:auto;margin-right:auto;max-width:none !important;}
.header-image{margin:0;padding:0;border-radius:0;}
img.header-image,img.wp-post-image{box-shadow:none;}
hr{clear:both;border-top:1px dotted #bfbfbf;}
body .site{box-shadow:none;}
.site-content{margin:0;padding:0;}
.area{width:100%;}.area .site{box-shadow:none !important;}.area .site li a{color:white;}
.area .site a{color:white;}
.area .site a:hover{color:#cccccc;}
.foundation{overflow:hidden;border:1px solid #bfbfbf;border-radius:3px;}.foundation img.wp-post-image{width:100%;margin-bottom:0;padding-bottom:0;}
.content-header{margin-top:1em;margin-bottom:0.1em;}
.entry-thumbnail{border-radius:none;box-shadow:none;}.entry-thumbnail img.wp-post-image{border-radius:0;box-shadow:none;}
.entry-header{text-align:center;}.entry-header .entry-title{font-weight:normal;text-align:left;}.entry-header .entry-title a{color:black;}
.entry-content a:hover{text-decoration:none;}
.site-content article{border-bottom:none;margin-bottom:5px;padding-bottom:5px;word-wrap:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;}
.row-fluid.separator-row{overflow:auto;clear:both;padding-top:1.5em;}
div.mr_social_sharing_wrapper{border-top:2px solid #f2f2f2;padding:0.75em;border-radius:0.1em;text-align:right;}
.post-edit-link{display:none;}
.service-bar{float:right;}.service-bar .service{display:inline-block;background-image:url('../img/light-dark-bg.png');border-radius:2.1em;padding:0.5em 0.5em 0.5em 0.5em;margin:0.25em 0.25em 0.25em 0.25em;cursor:pointer;}
.service-bar .service:hover{background-image:url('../img/red-bg.png');box-shadow:0 0 200px #ff0000;}
.service-bar .selected{background-image:url('../img/red-bg.png');}
#horitontal-right{width:150px;}
