.author-info,
.author-description p,
.author-link a {
    border-top: none;
    margin: 0;
    margin: 0rem;
    padding: 0;
    padding: 0rem;
}

.author-info {
    border-top: none;
    margin: 0;
    margin: 0rem;
    overflow: hidden;
    padding: 1em;
    color: white;
}


.author-avatar {
    float: left;
    margin-left: 0.6em;
    margin-right: 2em;
}
.author-description {
    float: left;
    max-width: 300px;
    padding-left: 1em;
}