.author {
    padding: 0;
    margin: 0;
}

.author-avatar img {
    vertical-align: baseline;
    box-shadow: none;
    margin-left: 0.5em;
}

.author-list {
    text-align: right;
}

.author-field {

    color: white;


    padding: 10px 25px 10px 25px;

    background: url( "../img/extra-dark-bg.png" );

    .author-info,
    .author-description p,
    .author-link a {
        border-top: none;
        margin: 0;
        margin: 0rem;

    }

    .author-info {
        padding: 1em;
        margin: 0;
        overflow: hidden;
        color: white;
    }


    .author-avatar {

    }

    .author-description {
        float: left;
        margin-bottom: 1em;
    }

}

.multiwidget_author_avatars {
    list-style: none;

    h2 {
        font-size: 1.4em;
        display: none;
    }

    img {
        border-radius: 0;
        box-shadow: none;
        padding: 0;
        margin: 0;
    }

    .user {
        padding: 0;
        margin: 0;

        .avatar img {
            width: 54px;
            height: 54px;
            border-radius: 36px;
        }
    }

    a {
        padding: 0;
        margin: 0;
    }

    li {
        padding: 0;
        margin: 0;
    }


}

.site .multiwidget_author_avatars li a {
    padding: 0;
}