#blogroll {

    width: 92%;
    clear: both;
    margin: 0 auto;
    color: #666;
    padding-top: 2.1em;
    margin-bottom: 6em;

    .head {
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 1.4em;
        margin-bottom: 2em;
    }

    .blogroll-element {
        padding: 0.25em;
        text-align: center;
    }

    .blogroll-row-first {

        margin-bottom: 2em;

        .widgettitle {
            font-size: 1.3em;
        }

        .rsswidget { // the link itself
            font-size: 0.9em;
        }

        ul li {
            line-height: 1.3em;
        }
    }

    .blogroll-row-second {

        margin-bottom: 1.1em;

        .widgettitle {
            font-size: 1.15em;
        }

        .rsswidget { // the link itself
            font-size: 0.85em;
        }

        ul li {
            line-height: 1.2em;
        }

    }

    .blogroll-row-third {

        margin-bottom: 0.25em;

        .widgettitle { // the link header
            font-size: 1.0em;
        }

        .rsswidget { // the link itself
            font-size: 0.65em;
        }

        ul li {
            line-height: 0.9em;
        }
    }

    .blogroll-row {

    }

    img {
        display: none;
    }

    h2 {
        font-size: 1.3em;
        font-weight: normal;
        line-height: 1em;
        margin: 0;
        padding: 0;
        color: #666;

    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        a {
            color: #666;
        }
    }

}