#events {
    color: white;
    padding: 1em 1.2em 1em 1.2em;
    list-style: none;

    .event-widget-container {
        padding: 0;
        margin: 0;
    }

    ul.gce-list {
        padding: 0;
        margin: 0 0 0 0;
        margin-left: 0;
        list-style: none;
    }

    li.gce-feed-1 {
        position: relative;

        a {
            padding-left: 0;
        }
    }

    .calendar-event {
        overflow: auto;
        padding: 1.2em 0.8em 1.2em 0.8em;
        clear: both;

        .calendar-event-details, .calendar-date-container {
            float: left;
        }

        .calendar-date-container {
            background-image: url('../img/red-bg.png');
            text-align: center;
            border-radius: 4em;

            max-width: 2.6em;
            height: 2.8em;
            overflow: hidden;
            font-size: 1.5em;
            line-height: 1em;

            .calendar-day {
                padding: 0.35em 0 0 0;
            }

            .calendar-month-name {
                font-size: 0.5em;
            }
        }

        .calendar-event-details {

            .calendar-event-title {
                font-size: 1.4em;
                font-family: 'Neo Sans W02';
            }


            .event-description {
                margin-top: 0.6em;

                img {
                    clear: both;
                    box-shadow: none;
                    float: right;
                    border-radius: 0;
                }

            }

            .calendar-day-time {
                margin: 0;
                padding: 0;
            }
        }
    }
}