#header {

    overflow: hidden;

    .header-row {
        padding-top: 0.8em;

        .header-left, .header-right {
            padding-bottom: 1em;
        }

        .header-right {
            padding-top: 0.35em;


            img {
                float: right;
                clear: both;

            }
        }

        .header-left {
            .parent-logo {
                float: left;
                clear: both;
            }

            img {
                padding-right: 2em;
            }
        }

        .uio {
            margin-top: 5px;
        }
    }
}

