nav.main-navigation .logo {
    float: left;
    margin-top: 0.5em;
    margin-bottom: 1em;
    box-shadow: none;
}


.service-bar {
    float: right;
    margin-bottom: 0.5em;
    margin-top: 0.75em;


    .service {
        display: inline-block;
        background-image: url('../img/light-dark-bg.png');
        text-align: center;
        border-radius: 2.1em;
        padding: 0.5em 0.5em 0.5em 0.5em;
        margin: 0.25em;
        cursor: pointer;
    }

    .service:hover {
        background-image: url('../img/red-bg.png');
    }

    .selected {
        background-image: url('../img/red-bg.png');
    }
}