@menu-color: #cecece;


#horizontal-left {

    padding: 70px 35px 15px 20px;

    .cat-item, .page_item { // sic!

    }

    ul {
        margin: 0;
        margin-bottom: 45px;
        padding: 0;
    }

    ul:first-child {
        padding-top: 10px;
    }

    ul, li {
        list-style: none;
    }

    li:first-child {
        border-top: none;
    }

    li {
        border-top: 1px solid @menu-color;
        margin: 0;
        padding: 0;

        a {
            display: block;
            text-align: center;

            margin: 5px 0 5px 0;
            padding: 3px 0 3px 0;

            color: @menu-color;

            font-family: 'Contax W01 55 Sm Cap';
            font-size: 1.1em;

            text-transform: uppercase;
        }

        a:hover {
            color: black;
            text-decoration: none;
        }
    }

    h2.widgettitle {
        display: none;
    }
}



