.preview-container {

    .preview {}

    .entry-title {
        margin-top: 10px;
        margin-bottom: 5px;

        a:hover {
            text-decoration: underline;
        }
    }

    .entry-header {
        margin-bottom: 0;
    }

    .entry-content {
        max-height: 300px;
        overflow: hidden;
        position: relative;

        a {
            color: #666;
        }

        a:hover {
            color: #666;
        }

        p {
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }

}

.recent {
    h1.entry-title {
        font-size: 2.15rem;
    }
}