.preview-container {

    color: black;
    padding-bottom: 1em;

    .entry-header {

        margin-top: 0;
        margin-bottom: 0;

        .entry-title {
            margin-top: 10px;
            margin-bottom: 5px;

            a:hover {
                text-decoration: underline;
                color: black;
            }

            h1 {

                font-family: 'Neo Sans W02', Arial, sans;
                line-height: 1.0em;
                margin-bottom: 0.5em;

                a {
                    color: black;
                }

                a:hover {
                    color: black;
                }
            }
        }
    }

    .entry-content {
        max-height: 300px;
        overflow: hidden;
        position: relative;
        line-height: 5px;
        color: black;

        a {
            color: #666;
        }

        p {
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }

}


.recent .preview-container h1 {
    font-size: 2.5em;
    line-height: 1.0em;
    padding-bottom: 0.25em;
    padding-top: 0.20em;
}
