.preview-container {

    h1.entry-title {
        font-family: 'Neo Sans W02', Arial, sans;
        line-height: 1.2em;
        margin-bottom: 0.75em;

        a { color: black; }
    }

    .entry-title {
        margin-top: 10px;
        margin-bottom: 5px;

        a:hover {
            text-decoration: underline;
        }
    }

    .entry-header {
        margin-bottom: 0;
    }

    .entry-content {
        max-height: 300px;
        overflow: hidden;
        position: relative;

        a {
            color: #666;
        }

        p {
            padding-bottom: 0;
            margin-bottom: 0;
        }

        p:hover {
            color: #0088cc;
        }
    }

}

.recent {
    h1.entry-title {
        font-size: 2.15rem;
    }
}