.single-container {
    .single {
        background-color: #add8e6;
    }

    .entry-content {
        margin-top: 1.75em;

        p {
            text-align: left;
            line-height: 25px;
            max-width: 720px;
        }
    }

    .entry-title-container {
        text-align: center;
        padding-top: 3em;
    }
}


@media screen and ( min-width: 960px ) {
    .single .entry-content p {
        margin-left: 5em;
    }
}

.entry-meta {
    display: block;
    background-image: url('../img/light-bg.png');
}

.author-info,
.author-description p,
.author-link a {
    border-top: none;
    margin: 0;
    margin: 0rem;
    padding: 0;
    padding: 0rem;
}

.author-info {
    border-top: 1px solid #ededed;
    margin: 0;
    margin: 0rem;
    overflow: hidden;
    padding: 1em;
}


.author-avatar {
    float: left;
    margin-left: 0.6em;
    margin-right: 2em;
}
.author-description {
    float: left;
    max-width: 300px;
    padding-left: 1em;
}