.single-container {

    .row-fluid {
        clear: both;
    }

    .alignright {
        padding: 1em 0 1em 3em;
    }

    .alignleft {
        padding: 1em 3em 1em 0;
    }

    .entry-content img,
    .comment-content img,
    .widget img,
    img.header-image,
    img.wp-post-image {
        box-shadow: none;
        border-radius: 0;
    }

    @content-font-size: 1.2em;
    .entry-top {
        border-bottom: 1px solid rgb( 192, 192, 192 );
        font-style: italic;
        color: rgb( 192, 192, 192 );
        padding-bottom: 0.25em;
        padding-right: 0.25em;
        margin-bottom: 1em;
        overflow: auto;

        .entry-top-right {
            float: right;
        }

        .entry-top-left {
            float: left;
        }

    }

    .entry-mobile-title {
        display: none;
    }

    h1.entry-title {

        font-family: 'Neo Sans W02', Arial, sans;
        line-height: 1em;

        a { color: black; }
    }

    .entry-header {
        margin-bottom: 0;
    }

    .entry-header .foundation {
        .title-overlay {
            position: relative;
            bottom: 40px;
            right: 0px;
            text-align: left;
            padding: 1em;
            color: white;
            background-color: rgba( 0, 0, 0, 0.5 );
        }
    }

    .entry-thumbnail {
        margin-top: -150px;
        margin-bottom: -150px;
        min-height: 300px;
        max-height: 748px;
    }

    .entry-content {

        h1, h2, h3, h4, h5, h6 {
            font-size: 1.3em;
            line-height: 1.3em;
            font-style: normal;
            margin-top: 2.5em;
            margin-bottom: 1.1em;

        }

        p {
            font-size: @content-font-size;
            font-family: 'PT Serif W02 Book', serif;
            text-align: left;
            line-height: 25px;

            img {
                padding: 1em;
                box-shadow: none;
                border-radius: 0;
            }
        }

    }

    .entry-title-container {
        text-align: center;
    }


    .single-authors {

        padding-top: 2em;

        margin: 0 auto;
        text-align: center;

        .single-author {

            clear: both;

            float: left;
            margin: 0 auto;
            width: 110px;

            margin-bottom: 20px;


            .single-author-avatar {
                text-align: center;

                img {
                    border-radius: 100%;
                    margin: 0 auto;
                }
            }

            .single-author-name {
                text-align: center;
            }
        }

    }

}

.nav-field {
    color: white;
    padding: 10px 25px 10px 25px;
    background: url( "../img/dark-bg.png" );

    margin-bottom: 1em;

    a {
        color: white;
    }

    .nav-next, .nav-previous {
        color: white;
        display: block;
        margin-top: 2em;
        margin-bottom: 2em;
    }
}





.wp-caption .wp-caption-text, .gallery-caption, .entry-caption {

}

.entry-content .wp-caption p {
    font-size: 0.95em;
    font-family: 'Neo Sans W02', sans;
    font-style: normal;
    padding-right: 0.25em;
    line-height: 1.2em;
}