/* margin som skal samstemme med gutterWidth i bootstrap */
@container-margin: 25px;


/* teksturer */
@extra-dark-bg:     url( '../img/extra-dark-bg.png' );
@dark-bg:           url( '../img/dark-bg.png' );
@light-bg:          url( '../img/light-bg.png' );
@light-dark-bg:     url( '../img/light-dark-bg.png' );
@extra-light-bg:    url( '../img/extra-light-bg.png' );

/* skrift */
@font-neo: 'Neo Sans W02';

h1, h2, h3, h4, h5, h6 {
    font-family: @font-neo;
}

/* styles */
body {
    padding: 0;
    margin: 0;
    height: 100%;
    background: white;
}

a {
    color: black;
}

a:hover {
    color: lighten( black, 20% );
}

body .site {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.header-image {
    margin: 0;
    padding: 0;
    border-radius: 0;
}

img.header-image,
img.wp-post-image {
    box-shadow: none;
}


hr {
    clear: both;
    border-top: 1px dotted lighten( black, 75% );
}

.site-content {
    overflow: visible;
}

body.custom-background {
    background: white;
    /* background-image: @light-bg; */
}

.area {
    width: 100%;
    /* background-image: @light-dark-bg; */

    .site {
        /* background-image: @dark-bg; */
        box-shadow: 0 0 10px rgba(100, 100, 100, 0.75);

        li a {
            color: white;
        }

        a {
            color: white;
        }

        a:hover {
            color: darken( white, 20% );
        }
    }
}


.foundation {
    overflow: hidden;
    border: 1px solid lighten( black, 75% );
    border-radius: 3px;

    img.wp-post-image {
        width: 100%;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.span4 {
    .foundation {
        width: 100%;
        overflow: hidden;
    }
}

.span6 {
    .foundation {
        width: 100%;
        overflow: hidden;
    }
}


.nav-next, .nav-previous {
    display: block;
    margin-top: 1em;
    margin-bottom: 2em;
}



.content-header {
    margin-top: 1em;
    margin-bottom: 0.1em;
}

.entry-thumbnail {
    border-radius: none;
    box-shadow: none;

    img.wp-post-image {
        border-radius: 0;
        box-shadow: none;
    }
}

.entry-header {
    text-align: center;

    .entry-title {
        font-weight: normal;
        text-align: left;

        a { color: black; }
    }
}

.entry-content p {
	text-align: justify;
	line-height: 17px;
	font-size: 0.9em;
}

.entry-content a:hover {
	text-decoration: none;
}


/*
 * Reduces the bottom spacing: padding and margin
 * Removes the bottom double-border
 */
.site-content article {
	border-bottom: none;
	margin-bottom: 5px;
	padding-bottom: 5px;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

.row-fluid.separator-row {
    overflow: auto;
    clear: both;
    padding-top: 1.5em;
}

div.mr_social_sharing_wrapper {
    border-top: 2px solid lighten( black, 95% );
    padding: 0.75em;
    border-radius: 0.1em;
    text-align: right;
}

/* hides the legacy element */
.post-edit-link {
    display: none;
}
