@small-text:      13px;
@normal-text:     21px;
@large-text:      34px;


@prosjekt-bg:     #556270;
@arrangement-bg:  darkred;
@artikkel-bg:     #025D8C;
@anbefalt-bg:     #FF9900;





body.custom-background {
    background-image:
        url( '../img/light-bg.png' );
}

div.widget-area {
    line-height: 1em;
    ul, li {
        line-height: 1em;
    }
}


.arrangement-banner {
    width: 100%;
    background-image:
        url( '../img/light-dark-bg.png' );
    color: white;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;


    .arrangement-content-area {
        overflow: hidden;
        height: 157px;
        max-width: 960px;
        max-width: 68.571428571rem;
        margin-left: auto;
        margin-right: auto;
        background-image:
            url( '../img/dark-bg.png' );
        box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);

        .arrangement-header {
            font-family: 'FuturaBTW01-MediumConde', Arial, sans;
            font-size: 1.4em;
            padding: 1em 1em 0.25em 1em;
        }

        .arrangement-list {
            margin-left: auto;
            margin-right: auto;
            overflow: hidden;
            padding: 1em 1em 0.25em 1em;

            .arrangement-element {
                height: 100px;
                background-image:
                    url( '../img/red-bg.png' );
                border-radius: 0.5em;
                float: left;
                margin: 0.5em;
                padding: 1em;
                width: 225px;

            }
        }
    }
}

.bottomless {
    margin-bottom: 0;
    padding-bottom: 0;
}

footer {
	width: 100%;
	float: left;
	display: block;
	color: white;

    .credits, .copyright {
        padding: 1em;
    }

	.credits {
		height: 300px;
		background-image: url( '../img/dark-bg.png' );
	}
	
	.copyright {
        text-align: right;
		background-image: none;
		background-color: black;
        color: #a9a9a9;
        font-weight: bold;
	}
}

.entry-meta {
    display: block;
    background-color: gray;
    border-radius: 0.5em;

    .author-info, .author-description {
        border-top: none;
        margin: 0;
        margin: 0rem;
        padding-top: 0;
        padding-top: 0rem;
        overflow: hidden;
        padding: 0.5em;
        color: white;
        line-height: 1em;
    }

}

.nav-next, .nav-previous {
    display: block;
    margin-top: 4em;
}

@media screen and (min-width: 960px) {
	body .site {
		padding: 0;
        margin-top: 0;
        margin-bottom: 0px;
        margin-bottom: 0rem;
	}

    .bottomless {
        padding: 0;
        padding: 0rem;
        margin-bottom: 0px;
        margin-bottom: 0rem;

    }
	
}


@media screen and (min-width: 600px) {
    .foundation {
        .span4 {
            img.wp-post-image {
                max-height: 300px;
            }
        }
    }

    .bottomless {
        padding-bottom: 0;
        margin-bottom: 0;
    }
}


header.site-header {
    padding-top: 0;
	padding-left: 30px;
	padding-right: 30px;
}

div#main {
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
}


/**
 *	Glues the category header to the thumbnail image
 */

.entry-header img.wp-post-image {
	margin-bottom: 0px;
	margin-bottom: 0rem;
	border-radius: 0 0 0.25em 0.25em;
	box-shadow: none;
}

.entry-header {
	text-align: center;
	
	.entry-title {
		font-weight: normal;
		text-transform: uppercase;
		text-align: left;
	}
	
	.foundation {
		background-color: #EEE;
		border-radius: 0 0 0.25em 0.25em;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
		
		img.wp-post-image {
			width: 100%;
		}
		
	}
}



.span4 {
	.foundation {
		max-height: 300px;
		overflow: hidden;
	}
}

.span6 {
	.foundation {
		max-height: 340px;
		overflow: hidden;
	}
}



.entry-category {
		
	.category-name {
		text-align: left;
		padding: 0.5em 0.5em 0.5em 0.6em;
		display: block;
		color: white;
		font-family: 'FuturaBTW01-MediumConde', Arial, sans;
		font-size: 1.2em;
		color: white;
		text-transform: uppercase;
		background-color: #EEE;
		border-radius: 0.25em 0.25em 0 0;
		border-bottom: 1px solid white;
	}
	
	i {
		float: right;
		margin-top: 0.2em;
	}
	
}

article.category-artikkel .category-name {
	background-color: @artikkel-bg;
	border-bottom: 1px solid lighten( @artikkel-bg, 15% );
}

article.category-prosjekt .category-name {
	background-color: @prosjekt-bg;
	border-bottom: 1px solid lighten( @prosjekt-bg, 15% );
}

article.category-arrangement .category-name {
	background-color: @arrangement-bg;
	border-bottom: 1px solid lighten( @arrangement-bg, 15% );
}

article.category-anbefalt .category-name {
	background-color: @anbefalt-bg;
	border-bottom: 1px solid lighten( @anbefalt-bg, 15% );
}



.entry-content p {
	text-align: justify;
	line-height: 20px;
}

.entry-content a:hover {
	text-decoration: none;
}

h1.entry-title {
	font-size: 2em;
	font-family: Arial;
	line-height: 1em;
	text-transform: uppercase;
	
	a {
		color: black;
	}
	
}

div.post-thumbnail a {
	color: black;
}

div.post-thumbnail {
	.entry-content {
		max-height: 300px;
		overflow: hidden;
		position: relative;
		
		.read-more {
			font-family: 'FuturaBTW01-MediumConde', Arial, sans;
			font-size: 1.2em;
			text-transform: uppercase;
			background-image: url( '../img/read-more-bg.png' );
			background-repeat: repeat-x;
			position: absolute;
			bottom: 0px;
			right: 0px;
			z-index: 255;
			width: 100%;
			height: 75px;
			
			a {
				position: absolute;
				bottom: 2px;
				right: 2px;
				display: block;
				width: 100%;
				text-align: right;
			}
		}
	}
}






/*
 * Reduces the bottom spacing: padding and margin
 * Removes the bottom double-border
 */
.site-content article {
	border-bottom: none;
	margin-bottom: 5px;
	padding-bottom: 5px;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

/*
 * Removes the default handling of the logo as image with rounded borders
 */
img.header-image {
	/* Add fancy borders to all WordPress-added images but not things like badges and icons and the like */
	border-radius: 0;
	box-shadow: none;
}




