#twitter {


    li.twitter-widget {
        list-style: none;

    }


    h2.widgettitle {
        display: none;
        padding: 0;
        margin: 0;
    }

    ul#twitter_update_list {
        margin: 0;
        padding: 0;
        overflow-y: scroll;

        li {
            padding: 0.5em;
            margin-top: 0.25em;
            margin-bottom: 0.1em;
            border: 3px solid #DDD;

        }
    }

    .twitter-header {
        color: white;
        padding: 0.5em;
        text-align: right;
        background-image: url( '../img/red-bg.png' );
    }

    .twitter-footer {
        background-image: url( '../img/dark-bg.png' );
    }
}